<ion-header>
</ion-header>

<ion-content class="navigate-style">
  <iframe *ngIf="touistTitle==''||touistTitle==null" data-tap-disabled="true" src="http://ditu.amap.com/"></iframe>
  <iframe *ngIf="touistTitle=='万平口景区'" data-tap-disabled="true"
          src="https://ditu.amap.com/search?id=B02790QB58&city=371102&geoobj=119.268947%7C35.330615%7C119.763332%7C35.53203&query_type=IDQ&query=%E4%B8%87%E5%B9%B3%E5%8F%A3%E6%99%AF%E5%8C%BA&zoom=12"></iframe>
  <iframe *ngIf="touistTitle=='龙门崮旅游度假区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B027900C35&city=371102&geoobj=119.382587%7C35.337898%7C119.649692%7C35.524766&query_type=IDQ&query=%E9%BE%99%E9%97%A8%E5%B4%AE%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=12"></iframe>
  <iframe *ngIf="touistTitle=='奥林匹克水上公园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790PCLV&city=371102&geoobj=119.118234%7C35.542801%7C119.134928%7C35.554463&query_type=IDQ&query=%E6%97%A5%E7%85%A7%E5%A5%A5%E6%9E%97%E5%8C%B9%E5%85%8B%E6%B0%B4%E4%B8%8A%E5%85%AC%E5%9B%AD&zoom=16"></iframe>
  <iframe *ngIf="touistTitle=='竹洞天风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B027900CC3&city=371102&geoobj=119.581338%7C35.539533%7C119.589062%7C35.542889&query_type=IDQ&query=%E6%97%A5%E7%85%A7%E7%AB%B9%E6%B4%9E%E5%A4%A9%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='花仙子景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790PK9Q&city=371102&geoobj=119.350663%7C35.410399%7C119.384052%7C35.433761&query_type=IDQ&query=%E8%8A%B1%E4%BB%99%E5%AD%90%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=15"></iframe>
  <iframe *ngIf="touistTitle=='沁园春风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E6%B2%81%E5%9B%AD%E6%98%A5%E9%A3%8E%E6%99%AF%E5%8C%BA&city=371100&geoobj=119.226325%7C35.461994%7C119.243019%7C35.473668&zoom=16"></iframe>
  <iframe *ngIf="touistTitle=='日照泉山云顶风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFH5F5T7&city=371102&geoobj=119.4775%7C35.4979%7C119.510888%7C35.521236&query_type=IDQ&query=%E6%B3%89%E5%B1%B1%E4%BA%91%E9%A1%B6%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=15"></iframe>
  <iframe *ngIf="touistTitle=='河山风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790P5YN&city=371102&geoobj=119.463099%7C35.521666%7C119.467273%7C35.524582&query_type=IDQ&query=%E6%97%A5%E7%85%A7%E6%B2%B3%E5%B1%B1%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='祥路碧海生态茶园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E5%BE%A1%E6%B5%B7%E6%B9%BE%E8%8C%B6%E5%9B%AD%E6%99%AF%E5%8C%BA&city=371100&geoobj=118.123533%7C35.103986%7C120.101073%7C35.963365&zoom=10"></iframe>
  <iframe *ngIf="touistTitle=='马鬐山旅游风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E9%A9%AC%E9%AC%90%E5%B1%B1%E6%97%85%E6%B8%B8%E9%A3%8E%E6%99%AF%E5%8C%BA&city=371100&geoobj=119.536015%7C35.457201%7C119.540189%7C35.46012&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='日照市多岛海景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790PNID&city=371103&geoobj=118.91993%7C35.347543%7C118.924104%7C35.350465&query_type=IDQ&query=%E5%A4%9A%E5%B2%9B%E6%B5%B7%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='顺风阳光海洋牧场景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E9%A1%BA%E9%A3%8E%E9%98%B3%E5%85%89%E6%B5%B7%E6%B4%8B%E7%89%A7%E5%9C%BA&city=371100&geoobj=119.615735%7C35.51234%7C119.631184%7C35.519055&zoom=17"></iframe>
  <iframe *ngIf="touistTitle=='浮蓬山庄风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E6%B5%AE%E8%93%AC%E5%B1%B1&city=371100&geoobj=119.268947%7C35.323752%7C119.763332%7C35.538875&zoom=12"></iframe>
  <iframe *ngIf="touistTitle=='浮来山风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790OVKS&city=371122&geoobj=119.380274%7C35.155565%7C119.384448%7C35.158495&query_type=IDQ&query=%E6%B5%AE%E6%9D%A5%E5%B1%B1%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='浮来青旅游度假区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFF2HPH5&city=371122&geoobj=118.718472%7C35.584946%7C118.751861%7C35.608257&query_type=IDQ&query=%E6%B5%AE%E6%9D%A5%E9%9D%92%E6%97%85%E6%B8%B8%E5%BA%A6%E5%81%87%E5%8C%BA&zoom=15"></iframe>
  <iframe *ngIf="touistTitle=='莒州文街'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFI7QUGA&city=371122&geoobj=118.659036%7C35.389057%7C118.667383%7C35.394898&query_type=IDQ&query=%E8%8E%92%E5%B7%9E%E6%96%87%E8%A1%97&zoom=17"></iframe>
  <iframe *ngIf="touistTitle=='沭河湿地公园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790P058&city=371122&geoobj=118.862329%7C35.586636%7C118.866503%7C35.589551&query_type=IDQ&query=%E6%B2%AD%E6%B2%B3%E5%85%AC%E5%9B%AD&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='丽正园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFILCI0V&city=371122&geoobj=118.792343%7C35.5312%7C118.925895%7C35.624464&query_type=IDQ&query=%E4%B8%BD%E6%AD%A3%E5%9B%AD&zoom=13"></iframe>
  <iframe *ngIf="touistTitle=='芦家河莲生湖游钓园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFHU7KPM&city=371122&geoobj=118.813844%7C35.545702%7C118.818018%7C35.548619&query_type=IDQ&query=%E8%8E%B2%E7%94%9F%E6%B9%96%E6%B8%B8%E9%92%93%E5%9B%AD&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='五莲山旅游风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B027900670&city=371121&geoobj=119.378499%7C35.155344%7C119.386223%7C35.158716&query_type=IDQ&query=%E4%BA%94%E8%8E%B2%E5%B1%B1%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='大青山风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B027902VEB&city=371121&geoobj=119.366956%7C35.665703%7C119.433733%7C35.71227&query_type=IDQ&query=%E5%A4%A7%E9%9D%92%E5%B1%B1%E6%97%85%E6%B8%B8%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=14"></iframe>
  <iframe *ngIf="touistTitle=='杏石温泉度假村'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B02790PZ5S&city=371121&geoobj=119.338546%7C35.662182%7C119.462143%7C35.715789&query_type=IDQ&query=%E6%9D%8F%E7%9F%B3%E6%B8%A9%E6%B3%89%E6%97%85%E6%B8%B8%E5%BA%A6%E5%81%87%E4%B8%AD%E5%BF%83&zoom=14"></iframe>
  <iframe *ngIf="touistTitle=='白鹭湾艺游小镇'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E7%99%BD%E9%B9%AD%E6%B9%BE%E8%89%BA%E6%B8%B8%E5%B0%8F%E9%95%87&city=371100&geoobj=119.054105%7C35.889231%7C119.061829%7C35.892572&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='五征•松月湖旅游度假区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFH1GBD1&city=371121&geoobj=119.48603%7C35.638889%7C119.490203%7C35.6418&query_type=IDQ&query=%E4%BA%94%E5%BE%81%E6%9D%BE%E6%9C%88%E6%B9%96%E6%97%85%E6%B8%B8%E5%BA%A6%E5%81%87%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='五蔬园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFG0MR3E&city=371121&geoobj=119.310929%7C35.757368%7C119.315103%7C35.760277&query_type=IDQ&query=%E4%BA%94%E8%94%AC%E5%9B%AD%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='山东黑虎山狩猎场'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E5%B1%B1%E4%B8%9C%E9%BB%91%E8%99%8E%E5%B1%B1%E7%8B%A9%E7%8C%8E%E5%9C%BA&city=371100&geoobj=119.484254%7C35.638668%7C119.491979%7C35.642021&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='日照海滨国家森林公园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B027902P7M&city=371102&geoobj=119.148649%7C35.59237%7C119.282201%7C35.685563&query_type=IDQ&query=%E6%97%A5%E7%85%A7%E6%B5%B7%E6%BB%A8%E5%9B%BD%E5%AE%B6%E6%A3%AE%E6%9E%97%E5%85%AC%E5%9B%AD&zoom=13"></iframe>
  <iframe *ngIf="touistTitle=='驻龙山风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFH5RQJ7&city=371102&geoobj=119.591074%7C35.517836%7C119.657851%7C35.56449&query_type=IDQ&query=%E9%A9%BB%E9%BE%99%E5%B1%B1%E9%A3%8E%E6%99%AF%E5%8C%BA&zoom=14"></iframe>
  <iframe *ngIf="touistTitle=='欣彗休闲娱乐园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E6%AC%A3%E5%BD%97%E4%BC%91%E9%97%B2%E5%A8%B1%E4%B9%90%E5%9B%AD&city=371100&geoobj=119.149368%7C35.635209%7C119.157092%7C35.638562&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='御海湾茶博园风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFHD0BO9&city=371102&geoobj=119.629121%7C35.562592%7C119.636845%7C35.565949&query_type=IDQ&query=%E5%BE%A1%E6%B5%B7%E6%B9%BE%E8%8C%B6%E5%9B%AD%E6%99%AF%E5%8C%BA-%E5%BE%A1%E9%9D%92%E8%8C%B6%E5%8D%9A%E5%9B%AD&zoom=18"></iframe>
  <iframe *ngIf="touistTitle=='万宝海滨风景区'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?query=%E4%B8%87%E5%AE%9D%E6%B5%B7%E6%BB%A8%E9%A3%8E%E6%99%AF%E5%8C%BA&city=000001&geoobj=119.600969%7C35.491063%7C119.724566%7C35.544785&zoom=14"></iframe>
  <iframe *ngIf="touistTitle=='翰林春有机茶博园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B0FFHTLAQR&city=371102&geoobj=119.268947%7C35.323752%7C119.763332%7C35.538875&query_type=IDQ&query=%E7%80%9A%E6%9E%97%E6%98%A5%E8%8C%B6%E5%8D%9A%E5%9B%AD&zoom=12"></iframe>
  <iframe *ngIf="touistTitle=='刘家湾赶海园'" data-tap-disabled="true"
          src="http://ditu.amap.com/search?id=B027902C1B&city=371102&geoobj=119.369919%7C35.404362%7C119.503471%7C35.497773&query_type=IDQ&query=%E5%88%98%E5%AE%B6%E6%B9%BE%E8%B5%B6%E6%B5%B7%E5%9B%AD(%E8%A3%85%E4%BF%AE%E4%B8%AD)&zoom=13"></iframe>

  <button navPop class="goback">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
</ion-content>
