<ion-header>
  <ion-toolbar style="display: none;">
    <button ion-button clear navPop></button>
  </ion-toolbar>
</ion-header>

<ion-content class="meituan-style">
  <iframe *ngIf="index==1" data-tap-disabled="true" src="https://m.tuniu.com/way/2550444/"></iframe>
  <iframe *ngIf="index==2" data-tap-disabled="true" src="https://m.tuniu.com/way/2550024/"></iframe>
  <iframe *ngIf="index==3" data-tap-disabled="true" src="https://m.tuniu.com/way/1607/"></iframe>
  <iframe *ngIf="index==4" data-tap-disabled="true" src="https://m.tuniu.com/way/1608/"></iframe>
  <iframe *ngIf="index==5" data-tap-disabled="true" src="https://m.tuniu.com/way/2552167/"></iframe>
  <iframe *ngIf="index==6" data-tap-disabled="true" src="https://m.tuniu.com/way/1092805/"></iframe>

  <button navPop class="goback">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
</ion-content>
